Flask==2.0.1
future==0.18.2
geographiclib==1.50
geopy==2.1.0
gunicorn==20.1.0
MarkupSafe==2.0.1
numpy==1.20.3
packaging==20.9
pandas==1.2.4
pyinstaller-hooks-contrib==2021.1
requests==2.25.1
schedule==1.1.0
scikit-learn==0.23.2
scipy==1.7.0
six==1.16.0
sklearn==0.0
soupsieve==2.2.1
threadpoolctl==2.1.0
virtualenv==20.4.7
